Flask==0.9
SQLAlchemy==0.8.1
Flask-SQLAlchemy
Flask-Script==0.5.3
Flask-OAuth==0.12
Flask-Assets==0.8
boto==2.9.3
colorlog==1.6
kombu==2.5.10
librabbitmq==1.0.1
cssmin==0.1.4
FormEncode==1.2.6
python-dateutil==2.1
psycopg2==2.5
gunicorn==17.5
pyes==0.20.0