Flask>=0.10.1
Flask-Login>=0.2.11
Flask-Migrate>=1.4.0
Flask-OAuth>=0.12
Flask-SQLAlchemy>=2.0
Flask-Script>=2.0.5
SQLAlchemy>=1.0.6
alembic>=0.7.6
apikit>=0.3.2
colander==1.0
normality>=0.2.2
oauth2>=1.5.211
webassets==0.10.1

# RDF play dependencies:
https://github.com/RDFLib/OWL-RL/tarball/master
rdflib
rdflib-jsonld
