
<div class="row">

  <div class="col-lg-8 col-sm-8">
    <div ng-include="template"></div>
  </div>

  <div class="col-lg-4 col-sm-4 offset1">
    <ul class="nav nav-list">
      <li class="nav-header">About datawi.re</li>
      <li ng-class="active('intro')">
        <a href="/about/intro">What is datawi.re?</a>
      </li>
      <li ng-class="active('contribute')">
        <a href="/about/contribute">Contributing</a>
      </li>
      <li ng-class="active('privacy')">
        <a href="/about/privacy">Privacy &amp; terms</a>
      </li>
      <li ng-class="active('contact')">
        <a href="/about/contact">Get in touch</a>
      </li>
      
    </ul>
  </div>


</div>