

<div class="row">

    <div class="span8 feed" ng-controller="FramesCtrl">
        <div class="frame-count">
            {{count}} Events have been found, {{frames.length}} shown.
            <div class="pull-right"><a href='#' ng-click="update()"><i class="icon-refresh"></i> Refresh</a></div>
        </div>
        <div ng-repeat="frame in frames" class="frame" ng-show="frame.loaded">
            <div class='frame-header'>
                <div class='timestamp'>{{frame.action_at.fromNow()}}</div>
                <a href="{{frame.service.url}}">{{ frame.service.label }}</a>
            </div>
            <div ng-show="!frame.showRaw">
                <p class='frame-body' ng-include="frame.hash"></p>
            </div>
            <div class="tablewrapper">
                <table ng-show="frame.showRaw" class="table table-condensed table-striped">
                    <tr ng-repeat="(key, value) in tableObject(frame.data)">
                        <th>{{key}}</th>
                        <td>{{value}}</td>
                    </tr>
                </table>
            </div>
            <p class='frame-context'>
                <!-- {{ frame.urn }} &middot; -->
                <a href="" ng-click="frame.showRaw=true;" ng-show="!frame.showRaw">Data View</a>
                <a href="" ng-click="frame.showRaw=false;" ng-show="frame.showRaw">Text View</a>
                &middot;
                <span ng-show="frame.details_url">
                    <a ng-href="{{frame.details_url}}">Details</a>
                    &middot;
                </span>
                <span ng-show="frame.source_url">
                    <a ng-href="{{frame.source_url}}">Source</a>
                    &middot;
                </span>
                {{frame.urn}}
            </p>
        </div>
        <div ng-show='hasMore()' class="frame-pagination">
            <a href="#" ng-click="loadMore()">Show more</a>
        </div>
    </div>

    <div class="span4 entities pull-left" ng-controller="EntityCtrl">
        <div class="toggle-new-form">
            <a href="#" ng-click="showCreateForm=!showCreateForm"><i ng-class="newFormLinkIcon()"></i>
            </a>
        </div>
        <h3>Your watchlist</h3>
        <div class="new-form" ng-show="showCreateForm">
            <form name="form" class="form-inline" ng-submit="create()">
                <div class="category-selector">  
                    <div class="btn-group" data-toggle="buttons-radio">
                        <button type="button" class="btn dark">Category</button>
                        <button ng-repeat="category in categories"
                            type="button" class="btn dark"
                            ng-class="selectedCategory(category.key)"
                            ng-click="createForm.category=category.key"
                            ><i ng-class="category.icon"></i></button>
                    </div>
                </div>
                <input type="text" class="input-medium span2" ng-model="createForm.text"
                    required ng-minlength="3" placeholder="Track a new term">

                <button type="button" ng-click="create()" class="btn dark">Add</button>
            </form>
        </div>

        <div ng-repeat="category in categories">
            <h3><i ng-class="category.icon"></i> {{category.label}}</h3>
            <ul>
                <li ng-repeat="entity in entities[category.key]"
                    ng-class='selectedClass(entity)'>
                    <div class="entity-delete">
                        <a ng-click="remove(category.key, entity.id)"><i class="icon-trash"></i></a>
                    </div>
                    <a ng-click="toggle(entity.id)">{{entity.text}}</a>
                    <span ng-hide="entity.total_count!=entity.filtered_count" class="badge badge-important entity-count">
                        {{entity.total_count}}
                    </span>
                    <span ng-hide="entity.total_count==entity.filtered_count" class="badge badge-important entity-count">
                        {{entity.filtered_count}} / {{entity.total_count}}
                    </span>
                </li>
            </ul>
        </div>
    </div>


</div>