
<div ng-repeat="frame in frames">
    <div ng-show="frame.renderedView">
        <p ng-bind-html-unsafe="frame.rendered"></p>
    </div>
    <table ng-show="!frame.renderedView" class="table table-condensed table-striped">
        <tr ng-repeat="(key, value) in tableObject(frame.data)">
            <th>{{key}}</th>
            <td>{{value}}</td>
        </tr>
    </table>
    <p>
        {{ services[frame.service].label }} &middot;
        <code>{{ frame.urn }}</code> &middot;
        <a ng-click="frame.renderedView=false;" ng-show="frame.renderedView">raw</a>
        <a ng-click="frame.renderedView=true;" ng-show="!frame.renderedView">text</a>
    </p>
    <hr>
</div>
