
<div class="hero-unit">
    <h1>a Wire Service for Data</h1>
    <p class="claim">
        We help you stay informed about people, organisations and
        topics that interest you.
    </p>
    <p>
        <a class="btn btn-large twitter" external="{{session.twitter_uri}}">
          <i class="icon-twitter"></i> Login with Twitter
        </a>
        <a class="btn btn-large facebook" external="{{session.facebook_uri}}">
          <i class="icon-facebook"></i> Login with Facebook
        </a>
    </p>
</div>

<div class="row">
    <div class="span6">
        <p>
            Automatically keep track a range of data sources and be informed whenever
            an action &mdash; a government contract, company registration, or
            criminal arrest &mdash; mentions the name of one of the topics of your 
            investigations.
        </p>
        <p>
            datawi.re is powered through a decentralized network of data stringers,
            small tools that monitor data feeds and submit new records that'll
            be matched to the names of people, organizations, topics and places
            that you've set up to monitor.
        </p>
    </div>
    <div class="span6">
        <p>
            <strong>What kind of data do we track?</strong>
        </p>
        <ul>
            <li><strong>Worldwide:</strong> Company creations and directorship changes</li>
            <li><strong>European Union:</strong> European Tenders and Contract Awards,
                State Aid Register, Corporate Mergers</li>
            <li><strong>Germany:</strong> Vorgänge in Bundestag und Bundesrat, 
                BaFin Directors Dealings, Förderkatalog der Bundesregierung,
                </li>
            <li><strong>Great Britain:</strong> Central Government Expenditure</li>
        </ul>
    </div>
</div>

