
<h3>User profile</h3>

<form name="form" class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="name">Name</label>
    <div class="controls">
      <input ng-model="profile.name" required ng-minlength="3" type="text" id="name" placeholder="Your name">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="email">Email</label>
    <div class="controls">
      <input ng-model="profile.email" required type="email" id="email" placeholder="Email">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="api_key">API Key</label>
    <div class="controls">
      <input ng-model="profile.api_key" type="text" id="api_key" disabled>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn" ng-click="save()" ng-disabled="form.$invalid">Update</button>
    </div>
  </div>
</form>