$bgColor: #efebe3;
$darkBgColor: #38342b;
$lightBgColor: #fdfcfb;
$lightText: #999;
$lightBorder: #ddd;
$linkColor: #693;

$bgColor: #fff;
$darkBgColor: darken(#008fd5, 10%);
$lightBgColor: #f9f9f9;
$linkColor: $darkBgColor; // darken($darkBgColor, 20%);
$footerBgColor: #eee;
$navBgColor: #333; // $darkBgColor;
$sidebarBgColor: #fff;
$sidebarColor: #999;

$twitterColor: darken(#9AE4E8, 10%);
$fbColor: #335795;

$defaultRoundedAmount: 5px;


/* Mixins */

@mixin box-shadow ($args) {
    -webkit-box-shadow: $args;
    -moz-box-shadow: $args;
    box-shadow: $args;
}

@mixin box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin corner($size) {
  -moz-border-radius: $size;
  -webkit-border-radius: $size;
  -khtml-border-radius: $size;
   border-radius: $size;
}

@mixin round-corner ($position, $amount: $defaultRoundedAmount) {
  border-#{$position}-radius: $amount;
  -webkit-border-#{$position}-radius: $amount;  
}
  
@mixin round-corner-mozilla ($position, $amount: $defaultRoundedAmount) {
  -moz-border-radius-#{$position}: $amount;
}

@mixin bold {
    font-family: OpenSansSemibold, sans-serif;
    font-weight: normal !important;
}

body {
    font-family: OpenSansRegular, sans-serif;
    font-size: 14px;
    color: #333;
    background-color: $footerBgColor;

    @media (max-width: 767px) {
        padding-right: 0px;
        padding-left: 0px;
    }
}

strong, th {
    @include bold;
}

h1, h2, h3, h4, h5 { 
    @include bold;
}

a {
    color: $linkColor;
}

.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
    background-color: $linkColor;
}

.btn.facebook {
    color: white;
    background-color: $fbColor;
}

.btn.twitter {
    color: white;
    background-color: $twitterColor;
}

.btn.dark {
    color: white;
    background-color: $darkBgColor;
}

/* Housekeeping in extension of bootstrap. */
input.ng-invalid {
    border-color: #B94A49;
    color: #b94a48;
}

.navbar-static-top {
    background: $navBgColor;
    min-height: 2em;


    .navbar-brand {
        color: white;
        font-size: 26px;
        span {
            @include bold;
        }
    }

    li a {
        color: white;
    }

    li a:hover {
        color: #ddd;   
    }
}

ul.navbar-nav.pull-right {
    margin: 0 0 0 0;
    width: auto;
}

ul.navbar-nav.pull-right li {
    display: inline-block;
    float: none;
}

.nav-list>.active>a, .nav-list>.active>a:hover, .nav-list>.active>a:focus {
    color: white;
}

.alert-bar {
    margin-top: 2em;
}

#pagearea {
    background-color: $bgColor;
    padding: 0 0 2em 0;
    border-bottom: 1px solid darken($footerBgColor, 5%);

    /*@media (max-width: 767px) {
        padding-right: 20px;
        padding-left: 20px;
    }*/
}

#page {
    margin-top: 1em;
}

.page-header {
    border-bottom: 1px solid $darkBgColor;
}

footer {
    padding: 3em 0 3em 0;
    color: $lightText;
    //background-color: $footerBgColor;
}

/* Home page. */

.jumbotron {
    background-color: $darkBgColor;
    color: white;

    h1 {
        text-transform: lowercase;
        margin-bottom: 0.3em;
    }

    p.claim {
        margin-bottom: 1em;
    }
}

/* Feed page. */

.entities {
    background: $sidebarBgColor;
    color: $sidebarColor;
    // padding: 1em 1em 1em 1em;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li.selected,
        li:hover {
            background-color: $lightBgColor;
        }

        a, a:hover {
            color: $sidebarColor;
            text-decoration: none;
            cursor: pointer;
        }

        li:hover a, li.selected a {
            color: darken($sidebarColor, 30%);
        }
    }

    li, h2, h3 {
        font-size: 1em;
        padding: 0;
        margin: 0;
        line-height: 1.3em;
    }

    h2, h3 {
        color: darken($sidebarColor, 30%);
    }

    h2 {
        font-size: 1.5em;
        margin: 0 0 1em 0;
    }

    li, h3, form {
        padding: 0.4em;
        border-bottom: 1px solid lighten($sidebarBgColor, 10%);
    }
    
    form {
        margin: 0;

        a {
            color: lighten($sidebarBgColor, 20%);
            margin-top: 0.2em;
            display: inline-block;
        }

        .category-selector {
            padding-bottom: 0.4em;
        }
    }

    li, form {
        padding-left: 1em;
    }

    .toggle-new-form {
        float: right;
        padding-right: 1em;
        //padding-top: 0.3em;

        a:hover, a {
            color: white;
            background-color: $darkBgColor;
            text-decoration: none;
        }
    }

    .entity-delete, .entity-count {
        float: right;
        margin-right: 1em;
    }

    .entity-delete {
        display: none;
    }

    li:hover .entity-delete {
        display: block;
    }

    li:hover .entity-count {
        display: none;
    }

    /*
    margin-left: 0px;
    padding-left: 20px;
    
    @media (min-width: 1200px) {
        margin-left: 0px;
        padding-left: 30px;
    }*/
    
    //@include round-corner("top-right");
    //@include round-corner-mozilla("topright");
    //@include round-corner("bottom-right");
    //@include round-corner-mozilla("bottomright");
    

    input[type="text"] {
        background-color: lighten($sidebarBgColor, 20%);
        color: $sidebarColor;
    }

    input.ng-invalid {
        border: none;
    }
}

.feed {
    @include box-sizing;
    //border: 1px solid $lightBorder;
    border-bottom: none;
    //background: white;
    /*padding: 1em; 
    margin: 2em -1em 0em -1em;
    */

    //@include corner(5px);
    //border: 1px solid $lightBorder;
    
    //@include round-corner("top-left");
    //@include round-corner-mozilla("topleft");
    //@include round-corner("bottom-left");
    //@include round-corner-mozilla("bottomleft");
    
}

.frame-count, .frame-pagination {
    padding: 0.4em 0.5em 0.5em 0.5em;
    background-color: $lightBgColor;
    border-bottom: 1px solid $lightBorder;

}

.frame-count {
    padding: 0.4em 0.5em 0.5em 0.5em;
    border-bottom: 1px solid $lightBorder;

    //@include round-corner("top-left");
    //@include round-corner-mozilla("topleft");
}

.frame-pagination {
    text-align: center;
}

.frame {
    background-color: white;
    padding: 0.4em 0.5em 0.5em 0.5em;
    margin: 0 0 0 0;
    border-bottom: 1px solid $lightBorder;

    position: relative;

    p, .frame-header {
        margin: 0 0 5px 0;
    }

    .frame-header a {
        @include bold;
        font-size: 1em;
        color: #333;
    }

    .frame-header .timestamp {
        color: $lightText;
        float: right;
    }

    .tablewrapper {
        overflow-x: scroll;
    }

    p.frame-body {
        strong {
            color: $linkColor;
        }

        .entityref {

            strong {
                cursor: pointer;
            }

            i {
                color: $lightText;
                cursor: pointer;
            }

            .entity-overlay {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                color: white;
                background-color: $darkBgColor;
                overflow: hidden;
                width: 100%;
                margin: 0 0.8em 0 0;
                height: 100%;

                .inner {
                    padding: 0.4em;
                }
            }

            .entity-overlay.visible {
                display: block;
            }

        }

        .entityref:hover .add-entity {
            display: block;
        }
    }

    p.frame-context {
        font-size: 0.8em;
        color: $lightText;
        a {
           color: $lightText; 
        }
    }
}

.frame:hover {
    background-color: #eee;
    p.frame-context a {
        color: $linkColor;
    }
}

