$bgColor: #efebe3;
$darkBgColor: #38342b;
$lightText: #666;
$lightBorder: #ddd;

/* Mixins */

@mixin box-shadow ($args) {
    -webkit-box-shadow: $args;
    -moz-box-shadow: $args;
    box-shadow: $args;
}

@mixin corner($size) {
  -moz-border-radius: $size;
  -webkit-border-radius: $size;
  -khtml-border-radius: $size;
   border-radius: $size;
}


body {
    background-color: $bgColor;
}



/* Housekeeping in extension of bootstrap. */
input.ng-invalid {
    border-color: #B94A49;
    color: #b94a48;
}

.navbar-static-top #navigation {
    @include box-shadow(none);
    background: $darkBgColor;
    min-height: 3em;

    .brand {
        color: white;
        font-size: 26px;
        span {
            font-weight: bold;
        }
    }

    li a {
        color: white;
    }
}

.alert-bar {
    margin-top: 2em;
}

#page {
    margin-top: 2em;
}

.feed {
    background: white;
    /*padding: 1em; 
    margin: 2em -1em 0em -1em;
    */

    //@include corner(5px);
    //border: 1px solid $lightBorder;
}

footer {
    margin: 2em 0 0 0;
    color: $lightText;
}

/* Feed page. */

.entities {
    background: $darkBgColor;
    color: white;
    // padding: 1em 1em 1em 1em;
}

.frame {
    padding: 0.4em 0 0.5em 0;
    margin: 0 0 0 0;
    border-bottom: 1px solid $lightBorder;

    p {
        margin: 0 0 5px 0;
    }

    p.frame-header a {
        font-weight: bold;
        font-size: 1.1em;
        color: #333;
    }

    p.frame-body {
    //    font-size: 1.3em;
    //    line-height: 1.5em;
    }

    p.frame-context {
        font-size: 1em;
        color: $lightText;
        a {
           color: $lightText; 
        }
    }
}

.frame:hover {
    background-color: #eee;
    p.frame-context a {
        color: red;
    }
}

