<!doctype html>
<html lang="en" ng-app="datawire">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>datawi.re</title>
    <meta name="description" content="An act of data journalism.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% assets filters="scss,cssmin", output="gen/style.%(version)s.css",
          "vendor/bootstrap/docs/assets/css/bootstrap.css",
          "vendor/bootstrap/docs/assets/css/bootstrap-responsive.css",
          "css/main.scss" %}
        <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
    <link rel="shortcut icon" href="http://assets.pudo.org/img/opennews-favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="http://assets.pudo.org/fonts/open-sans/stylesheet.css" type="text/css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
</head>

<body ng-controller="AppCtrl">
  <div id="pagearea">
    <div class="navbar navbar-static-top">
      <div id="navigation" class="navbar-inner">
          <div class="container">
            {% raw %}
              <a class="brand" href="/">data<span>wi.re</span></a>
              <ul class="nav pull-right" ng-show="session.logged_in">
                <li><a href="/profile"><i class="icon-cogs"></i> {{ session.user.name }}</a></li>
                <li><a external="{{session.logout_uri}}" href=""><i class="icon-signout"></i> Logout</a></li>
              </ul>
              <ul class="nav pull-right" ng-hide="session.logged_in">
                <li><a external="{{session.twitter_uri}}" href=""><i class="icon-twitter"></i> Twitter</a></li>
                <li><a external="{{session.facebook_uri}}" href=""><i class="icon-facebook"></i> Facebook</a></li>
              </ul>
            {% endraw %}
          </div>
      </div>
    </div>

    <div class="container">
      {% raw %}
        <div ng-hide="!alert.visible" class="alert-bar alert" ng-class="'alert-' + alert.type" >
          <button type="button" class="close" ng-click="hideAlert()">&times;</button>
          {{ alert.message }}
        </div>
      {% endraw %}    

      <div id="page" ng-view></div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="span7">
          <p>
            datawi.re &mdash;
            <a href="/about/intro">Introduction</a> &middot;
            <a href="/about/contribute">Contributing</a> &middot;
            <a href="/about/privacy">Privacy</a> &middot;
            <a href="/about/contact">Contact</a>
          </p>
        </div>
        <div class="span5">
          <p>datawi.re is open source and <a href="https://github.com/arc64/datawi.re">available on GitHub</a>.</p>

          <p>Made by <a href="http://annabelchurch.com">Annabel
          Church</a> and <a href="http://pudo.org">Friedrich Lindenberg</a> as part of 
          <a href="http://mozillaopennews.org/">Knight-Mozilla OpenNews</a>.</p>
        </div>
      </div>
    </div>
  </footer>

  {% for path, tmpl in partial_templates %}
      <script id="{{path}}" type="text/ng-template">{{tmpl|safe}}</script>
  {% endfor %}

  {% assets filters="uglifyjs", output="gen/deps.%(version)s.js",
        "vendor/angular/angular.js",
        "vendor/handlebars/handlebars.js",
        "vendor/moment/moment.js",
        "vendor/underscore/underscore.js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  {% assets output="gen/app.%(version)s.js",
        "js/app.js",
        "js/alerts.svc.js",
        "js/identity.svc.js",
        "js/facets.svc.js",
        "js/services.svc.js",
        "js/feed.svc.js",
        "js/app.ctrl.js",
        "js/docs.ctrl.js",
        "js/entity.ctrl.js",
        "js/home.ctrl.js",
        "js/feed.ctrl.js",
        "js/profile.ctrl.js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
</body>
</html>