<!doctype html>
<html lang="en" ng-app="datawire">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>datawi.re</title>
    <meta name="description" content="An act of data journalism.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% assets filter="cssmin", output="gen/bootstrap.%(version)s.css",
          "vendor/bootstrap/docs/assets/css/bootstrap.css",
          "vendor/bootstrap/docs/assets/css/bootstrap-responsive.css" %}
        <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}

    {% assets filter="scss", output="gen/main.%(version)s.css",
          "css/main.scss" %}
        <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
    <link rel="shortcut icon" href="http://assets.pudo.org/img/opennews-favicon.ico" type="image/x-icon" />
</head>
<body>
    <div class="container">
        <nav ng-controller="NavigationCntl">
            {% raw %}
                <div ng-show="session.logged_in">
                    {{ session.user.name }}, you are logged in.
                    <a href="/profile">Profile</a>
                    <a href="#" ng-click="visit(session.logout_uri)">Logout</a>
                </div>
                <div ng-hide="session.logged_in">
                    You need to log in.
                    <a href="#" ng-click="visit(session.twitter_uri);">Twitter</a>
                    <a href="#" ng-click="visit(session.facebook_uri);">Facebook</a>
                </div>
                <h1>welcome to the datawi.re</h1>
                <a href="/feed">feed</a>
            {% endraw %}    
        </nav>
        {% raw %}
            <div ng-show="currentFlash.visible" class="alert" ng-class="'alert-' + currentFlash.type" >
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ currentFlash.message }}
            </div>
        {% endraw %}    

        <div ng-view></div>

    </div>

    {% assets filter="uglifyjs", output="gen/app.%(version)s.js",
          "vendor/angular/angular.js",
          "vendor/jquery/jquery.js",
          "vendor/bootstrap/docs/assets/js/bootstrap.js",
          "js/app.js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</body>
</html>