<!DOCTYPE html>
<html lang="en" ng-app="datawire">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{config.APP_TITLE}}</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link type="text/css" href="{{url_for('static', filename='dist/app.css')}}" rel="stylesheet">

    <link rel="shortcut icon" href="http://assets.pudo.org/img/favicon.ico" type="image/x-icon" />
    <base href="{{url_for('ui')}}">
  </head>
  <body>
    {% raw %}
      <div ng-controller="AppCtrl">
          <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
              <a class="navbar-brand" href="/">datawi.re</a>
              <div id="navbar" class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                  <li ng-show="!session.logged_in" ng-cloak>
                    <a href='/api/1/sessions/login' target='_self'>
                        <i class="fa fa-twitter"></i> Sign in
                    </a>
                  </li>
                  <li ng-show="session.logged_in" ng-cloak>
                    <a ng-click="editProfile()" ng-bind="session.user.login"></a>
                  </li>
                  <li ng-show="session.logged_in" ng-cloak>
                    <a ng-click="logoutSession()">
                      <i class="fa fa-sign-out"></i> Logout
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <div ng-show="flash.getMessage()" class="alert-flash alert alert-{{flash.getType()}}">
            <p>{{flash.getMessage()}}</p>
          </div>
          <div class="container" ng-view></div>
      </div>
    {% endraw %}
    <script src="{{url_for('static', filename='dist/vendor.js')}}"></script>
    {% if config.DEBUG %}
      <script src="{{url_for('static', filename='dist/templates.js')}}"></script>
      <script src="{{url_for('static', filename='dist/datawire.js')}}"></script>
    {% else %}
      <script src="{{url_for('static', filename='dist/datawire.min.js')}}"></script>
    {% endif %}
  </body>
</html>
